<div class="login-box">
  <form action="/login" method="post">
    <div class="ip-g">
      <input placeholder="Username" type="text" name="username" id="">
    </div>
    <div class="ip-g">
      <input placeholder="Password" type="password" name="password" id="">
    </div>
    <div>
      <input type="submit" value="Login">
    </div>
  </form>
</div>

{{#if err}}
<script>
  alert("Wrong username or password ! Please try again.");
</script>
{{/if}}