<div class="wallpp"></div>
<div class="account-page">
  <div class="title-1">Sign In</div>
  <form action="./login" method="POST">
    <div class="ip-g">
      <div class="title-2">Username</div>
      <input required="required" class="ip" placeholder="Username" id="" name="username"/>
    </div>
    <div class="ip-g">
      <div class="title-2">Password</div>
      <input required="required" type="password" class="ip" placeholder="Password" id="" name="password"/>
    </div>
    <div class="ip-g center">
      <button type="submit">Login</button>
    </div>
    <table class="option">
      <tr>
        {{!-- <td><a href="./forgetpw.htm">*Forget password</a></td> --}}
        <td><a href="./register">Register</a></td>
      </tr>
    </table>
  </form>
</div>

{{#if err}}
<script>
  alert("Wrong username or password ! Please try again.");
</script>
{{/if}}