<div class="wallpp"></div>
<div class="account-page">
  <div class="title-1">Register</div>
  <form action="./register" method="POST">
    <div class="ip-g">
      <div class="title-2">First name</div>
      <input required="required" class="ip" placeholder="First name" id="" name="firstName"/>
    </div>
    <div class="ip-g">
      <div class="title-2">Last name</div>
      <input required="required" type="text" class="ip" placeholder="Last name" id="" name="lastName"/>
    </div>
    <div class="ip-g">
      <div class="title-2">Username</div>
      <input required="required" class="ip" placeholder="Username" id="" name="username"/>
    </div>
    <div class="ip-g">
      <div class="title-2">Email</div>
      <input required="required" class="ip" placeholder="Email" id="" name="email"/>
    </div>
    <div class="ip-g">
      <div class="title-2">Password</div>
      <input required="required" type="password" class="ip" placeholder="Password (9-20 characters)" id="" name="password"/>
    </div>
    <div class="ip-g">
      <div class="title-2">Password</div>
      <input required="required" type="password" class="ip" placeholder="Type your password again" id="" name="rePassword"/>
    </div>
    <div class="ip-g center">
      <button type="submit">Register</button>
    </div>
    <table class="option">
      <tr>
        {{!-- <td><a href="./forgetpw.htm">*Forget password</a></td> --}}
        <td><a href="./login">Login</a></td>
      </tr>
    </table>
  </form>
</div>

{{#if usernameErr}}
<script>
  alert("Your username is existed in database !!");
</script>
{{/if}}
{{#if emailErr}}
<script>
  alert("Your email is existed in database !!");
</script>
{{/if}}
{{#if passwordErr}}
<script>
  alert("Type wrong password");
</script>
{{/if}}