@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
html,body{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app-container{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  display: grid;
  grid-template-rows: 10% 90%;
}

.app-container .nav{
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}

.app-container .nav ul{
  list-style: none;
  width: 100%;
  padding: 0;
}

.app-container .nav ul li{
  float: left;
  /* position: relative; */
  /* border: 1px solid black; */
}

.app-container .nav ul li:nth-child(1){
  /* width: 95%; */
  padding-left: 25px;
}

.app-container .nav ul li:nth-child(2){
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  margin: 0 25px 0 25px;
  cursor: pointer;
}

.app-container .nav .title{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 220%;
  text-transform: uppercase;
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

.app-container .chat-container{
  position: relative;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 25% 75%;
  z-index: 0;
}

/* .app-container .chat-container .contact-list{
  border-right: 1px solid #adadad;
} */

.app-container .chat-container .contact-list ul{
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.app-container .chat-container .contact-list ul li{
  /* border: 1px solid black; */
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.app-container .chat-container .contact-list ul li a{
  /* border: 1px solid black; */
  padding: 20px 15px;
  position: relative;
  display: grid;
  grid-template-columns: 25% 75%;
  text-decoration: none;
}

.app-container .chat-container .contact-list ul li .avatar{
  /* position: absolute; */
  width: 50px;
  height: 50px;
}

.app-container .chat-container .contact-list ul li .in4 .in4-1{
  font-weight: bold;
  color: black;
}

.app-container .chat-container .contact-list ul li .in4 .in4-2{
  margin-top: 10px;
  color: gray;
  font-size: 85%;
}

.app-container .chat-container .contact-list ul li .in4 .request{
  margin-top: 10px;
  color: white;
  border: 0.5px solid black;
  background: #4267b2;
  width: 85px;
  text-align: center;
  padding: 3px 5px;
  cursor: pointer;
}

.app-container .chat-container .contact-list ul li .in4 .friend{
  margin-top: 10px;
  color: white;
  border: 0.5px solid black;
  background: rgb(53, 105, 53);
  width: 85px;
  text-align: center;
  padding: 3px 0;
}

.app-container .chat-container .contact-list ul li .in4 .wait{
  margin-top: 10px;
  color: gray;
  border: 0.5px solid black;
  background: white;
  width: 85px;
  text-align: center;
  padding: 3px 0;
}

.app-container .chat-container .contact-list ul li .in4 .answer{
  margin-top: 10px;
}

.app-container .chat-container .contact-list ul li .in4 .answer span{
  margin: 10px 15px 0 0;
  color: gray;
  border: 0.5px solid black;
  background: white;
  width: 85px;
  text-align: center;
  padding: 3px 5px;
  cursor: pointer;
}

.app-container .chat-container .contact-list ul li .in4 .in4-2 span{
  margin-left: 75px;
}

.app-container .chat-container .chat-box{
  /* border: 1px solid black; */
  background: #e0e0e0;
  display: grid;
  grid-template-rows: 88% 12%;
  border-left: 1px solid #e0e0e0;
}

.app-container .chat-container .chat-box .box-1{
  border-bottom: 1px solid #bababa;
  position: relative;
  /* padding-top: 25px; */
}

.app-container .chat-container .chat-box .box-1 .msg-box{
  position: absolute;
  width: 100%;
  height: 98%;
  /* border: 1px solid black; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%,-50%); */
  overflow-y: scroll;
}

.app-container .chat-container .chat-box .box-1 .msg-box .sent-f{
  display: grid;
  grid-template-columns: 90% 10%;
  /* border: 1px solid black; */
  margin-top: 3px;
}

.app-container .chat-container .chat-box .box-1 .msg-box .sent-f .sent-ava{
  position: relative;
}

.app-container .chat-container .chat-box .box-1 .msg-box .sent-f .sent-ava img{
  position: absolute;
  width: 30px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%,0);
}

/* .app-container .chat-container .chat-box .box-1 .msg-box .sent-f .sent-ct{
  border: 1px solid black;
} */

.app-container .chat-container .chat-box .box-1 .msg-box .sent-f .sent-ct .sent-ct-inb{
  float: right;
  width: 50%;
}

.app-container .chat-container .chat-box .box-1 .msg-box .sent-f .sent-ct .sent-ct-inb p{
  background-color: lightskyblue;
  border-radius: 5px;
  margin: 0;
  padding: 5px 10px;
}

.app-container .chat-container .chat-box .box-1 .msg-box .sent-f .sent-ct .sent-ct-inb img{
  width: 100%;
  height: auto;
}

.app-container .chat-container .chat-box .box-1 .msg-box .rcv-f{
  display: grid;
  grid-template-columns: 10% 90%;
  /* border: 1px solid black; */
  margin-top: 3px;
}

.app-container .chat-container .chat-box .box-1 .msg-box .rcv-f .rcv-ava{
  position: relative;
}

.app-container .chat-container .chat-box .box-1 .msg-box .rcv-f .rcv-ava img{
  position: absolute;
  width: 30px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%,0);
}

.app-container .chat-container .chat-box .box-1 .msg-box .rcv-f .rcv-ct .rcv-ct-inb{
  float: left;
  width: 50%;
}

.app-container .chat-container .chat-box .box-1 .msg-box .rcv-f .rcv-ct .rcv-ct-inb p{
  background-color: lightgray;
  border-radius: 5px;
  margin: 0;
  padding: 5px 10px;
}

.app-container .chat-container .chat-box .box-1 .msg-box .rcv-f .rcv-ct .rcv-ct-inb img{
  width: 100%;
  height: auto;
}

.app-container .chat-container .chat-box .box-2{
  display: grid;
  grid-template-columns: 6% 6% 78% 10%;
}

.app-container .chat-container .chat-box .box-2 .f-icon{
  position: relative;
}

.app-container .chat-container .chat-box .box-2 .f-icon input{
  display: none;
}

.app-container .chat-container .chat-box .box-2 .f-icon img{
  filter: invert(57%) sepia(30%) saturate(0%) hue-rotate(210deg) brightness(83%) contrast(82%);
  cursor: pointer;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.app-container .chat-container .chat-box .box-2 .f-icon img:hover{
  filter: invert(63%) sepia(96%) saturate(5727%) hue-rotate(187deg) brightness(109%) contrast(103%);
}

.app-container .chat-container .chat-box .box-2 .t-field{
  position: relative;
}

.app-container .chat-container .chat-box .box-2 .t-field textarea{
  resize: none;
  width: 100%;
  height: 80%;
  background: transparent;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 105%;
}

.app-container .chat-container .chat-box .box-2 .t-field .discard-btn{
  position: absolute;
  top: 2px;
  right: 2px;
  width: 5px;
  height: auto;
}

.app-container .chat-container .chat-box .box-2 .send-btn svg{
  color: black;
  filter: invert(57%) sepia(30%) saturate(0%) hue-rotate(210deg) brightness(83%) contrast(82%);
  cursor: pointer;
}

.app-container .prev-upl-f{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.app-container .prev-upl-f .discard-btn{
  position: absolute;
  top: 15px;
  right: 15px;
  filter: invert(100%) sepia(0%) saturate(750%) hue-rotate(140deg) brightness(98%) contrast(114%);
  cursor: pointer;
}

.app-container .prev-upl-f .file{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%,-50%);
}

.app-container .prev-upl-f .send-file-btn{
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%,-50%);
  font-size: 180%;
  color: white;
  border: 2px solid white;
  padding: 15px 20px;
  cursor: pointer;
}

.reg-g-f{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reg-g-f .reg-g-b{
  width: 40%;
  height: 80%;
  background: whitesmoke;
  position: relative;
}

.reg-g-f .reg-g-b .close-box{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.reg-g-f .reg-g-b .list-pp ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.reg-g-f .reg-g-b .list-pp ul .row{
  padding: 0;
}

.nopadding{
  padding: 0 !important;
}
