@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');
html,body{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100%;
}

.app-container{
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  display: grid;
  grid-template-rows: 10% 90%;
}

.app-container .nav{
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}

.app-container .nav ul{
  list-style: none;
  width: 100%;
  padding: 0;
}

.app-container .nav ul li{
  float: left;
  /* border: 1px solid black; */
}

.app-container .nav ul li:nth-child(1){
  width: 92%;
  padding-left: 25px;
}

.app-container .nav ul li:nth-child(2){
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
}

.app-container .nav .title{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 220%;
  text-transform: uppercase;
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

.app-container .chat-container{
  position: relative;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: 25% 75%;
}

/* .app-container .chat-container .contact-list{
  border-right: 1px solid #adadad;
} */

.app-container .chat-container .contact-list ul{
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.app-container .chat-container .contact-list ul li{
  /* border: 1px solid black; */
  padding: 20px 15px;
  position: relative;
  display: grid;
  grid-template-columns: 25% 75%;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.app-container .chat-container .contact-list ul li .avatar{
  /* position: absolute; */
  width: 50px;
  height: 50px;
}

.app-container .chat-container .contact-list ul li .in4 .in4-1{
  font-weight: bold;
}

.app-container .chat-container .contact-list ul li .in4 .in4-2{
  margin-top: 10px;
}

.app-container .chat-container .contact-list ul li .in4 .in4-2 span{
  margin-left: 75px;
}

.app-container .chat-container .chat-box{
  /* border: 1px solid black; */
  background: #e0e0e0;
  display: grid;
  grid-template-rows: 88% 12%;
  border-left: 1px solid #adadad;
}

.app-container .chat-container .chat-box .box-1{
  border-bottom: 1px solid #bababa;
  position: relative;
}

.app-container .chat-container .chat-box .box-1 .msg-box{
  position: absolute;
  width: 60%;
  height: 100%;
  background: springgreen;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.app-container .chat-container .chat-box .box-1 .msg-box .sent-msg{
  text-align: right;
  padding: 10px 0px;
  max-width: 300px;
  min-width: 100px;
}

.app-container .chat-container .chat-box .box-1 .msg-box .rcv-msg{
  padding: 10px 0px;
}